// Enter any custom Sass in this file.

/* Frontpage banner */

body.contrast-high .frontpage-banner {
    background-color: transparent !important;
    background-image: none;
}

.frontpage-banner {
      background-color:#417D46;
      background-image: url('/sdg-site/assets/img/background.jpg');
      background-size: cover;
      background-position: center;      
}
.frontpage-banner-gradient {
padding-top: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    padding-bottom: 60px;
}
.site-intro{
      color: white;
}
body > div.frontpage-banner > div > div > div > h1 {
      font-weight: 700;
}
div.frontpage-banner > div > div > div > div > p > a {
      color: white !important;
}

div.frontpage-banner > div > div > div > div > p > a:visited{
      color: white !important;
}

/* Remove line above goals on frontpage */
.frontpage-goals-grid {
    margin: 0px 0 0px 0 !important;
    border-top: 0px solid !important;
}

/* Remove shadow from goals in goal overview */
.goal-icon-image {
      box-shadow: none !important
}

/* Goal-tiles hover effect; replacing shadow effect */
.goal-tile:hover {
    opacity: 0.85;
}

/* Next-Previous goals, padding on bottom */
.previous-next-links{
      padding-bottom: 5px;
}

/* Next-Previous goals, button color */
.btn-primary{
    background-color: #1265a8 !important;
}
      
/* Adjust margin on goal-banner text; smaller margin; adjusted to goal-image text */
.goal-banner h1{
    margin-top: 6px !important;
}

/* Gray background for indicator level */
.layout-goal .goal-indicator {
    margin-top: 0px !important;
    background-color: #f9f9f9;
    padding-top: 20px !important;
}
.layout-goal .goal-target {
    margin-top: 0;
    margin-bottom: 12px;
}
body.contrast-high.layout-goal .goal-indicator {
    background-color: transparent !important;
}

/* Country compare layout section;  */
#indicator-main > .tab-content {
    border-top: 1px solid #888;
    margin-top: 20px;
}



/* Indicator margin left on mobile layout;  */
.layout-goal .goal-page-indicator-number {
    margin-left: 20px;
}

/* Background color on indicator goal banner and white text */
.heading.goal-banner.goal-1{
    background-color: #E52B3D;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-1 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-2{
    background-color: #DDA63A;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-2 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-3{
    background-color: #4C9F38;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-3 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-4{
    background-color: #C42130;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-4 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-5{
    background-color: #FF3E24;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-5 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-6{
    background-color: #28BCE1;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-6 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-7{
    background-color: #FCC30B;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-7 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-8{
    background-color: #A21942;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-8 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-9{
    background-color: #FD6925;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-9 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-10{
    background-color: #DD1367;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-10 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-11{
    background-color: #FD9C27;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-11 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-12{
    background-color: #BF8B2E;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-12 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-13{
    background-color: #417D46;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-13 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-14{
    background-color: #0A96D8;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-14 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-15{
    background-color: #57BE2F;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-15 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-16{
    background-color: #00689C;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-16 {
    background-color: transparent;
    color: #ffffff !important;
}
.heading.goal-banner.goal-17{
    background-color: #1F4A6A;
    color: #ffffff !important;
}
body.contrast-high > .heading.goal-banner.goal-17 {
    background-color: transparent;
    color: #ffffff !important;
}


/* Background color on indicator goal banner and white text */
.goal-1-backgroundcolor{
    background-color: #E52B3D;
    color: #ffffff !important;
}
body.contrast-high > .goal-1-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-2-backgroundcolor{
    background-color: #DDA63A;
    color: #ffffff !important;
}
body.contrast-high > .goal-2-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-3-backgroundcolor{
    background-color: #4C9F38;
    color: #ffffff !important;
}
body.contrast-high > .goal-3-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-4-backgroundcolor{
    background-color: #C42130;
    color: #ffffff !important;
}
body.contrast-high > .goal-4-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-5-backgroundcolor{
    background-color: #FF3E24;
    color: #ffffff !important;
}
body.contrast-high > .goal-5-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-6-backgroundcolor{
    background-color: #28BCE1;
    color: #ffffff !important;
}
body.contrast-high > .goal-6-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-7-backgroundcolor{
    background-color: #FCC30B;
    color: #ffffff !important;
}
body.contrast-high > .goal-7-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-8-backgroundcolor{
    background-color: #A21942;
    color: #ffffff !important;
}
body.contrast-high > .goal-8-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-9-backgroundcolor{
    background-color: #FD6925;
    color: #ffffff !important;
}
body.contrast-high > .goal-9-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-10-backgroundcolor{
    background-color: #DD1367;
    color: #ffffff !important;
}
body.contrast-high > .goal-10-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-11-backgroundcolor{
    background-color: #FD9C27;
    color: #ffffff !important;
}
body.contrast-high > .goal-11-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-12-backgroundcolor{
    background-color: #BF8B2E;
    color: #ffffff !important;
}
body.contrast-high > .goal-12-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-13-backgroundcolor{
    background-color: #417D46;
    color: #ffffff !important;
}
body.contrast-high > .goal-13-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-14-backgroundcolor{
    background-color: #0A96D8;
    color: #ffffff !important;
}
body.contrast-high > .goal-14-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-15-backgroundcolor{
    background-color: #57BE2F;
    color: #ffffff !important;
}
body.contrast-high > .goal-15-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-16-backgroundcolor{
    background-color: #00689C;
    color: #ffffff !important;
}
body.contrast-high > .goal-16-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}
.goal-17-backgroundcolor{
    background-color: #1F4A6A;
    color: #ffffff !important;
}
body.contrast-high > .goal-17-backgroundcolor {
    background-color: transparent;
    color: #ffffff !important;
}

/* White color on vistied goal headline-link on Reporting status-site */
#main-content > div > div.goal.reporting-status-item > div.details > h3 > a:visited{
      color: #ffffff !important
}      
.frame.goal-tiles{
      padding-top: 13px;
      padding-left: 9px;
}
.status{
      color: #ffffff
}
.goal-stats.complete{
      background-color: #1a7f37 !important
}
.goal-stats{
      border: 1px solid #fff !important;
}
.goal-stats .complete{
      background-color: #27ae60 !important
}
div > div.goal.reporting-status-item > div.details > h3.status-goal > a{
      color: #ffffff     
}
div > div.goal.goal-overall > div > div.goal-stats {
    border: 1px solid #95a5a6 !important;
}
.statuses > div .status.complete .status-inner {
    background-color: #27ae60 !important;
}
div.details > div.summary > div > div > span.status.complete {
    background-color: #27ae60 !important;
}
.layout-reportingstatus #main-content .value {
    color: #ffffff !important;
}
body.contrast-high .goal.reporting-status-item {
    background-color: transparent;
}
body.contrast-high .goal-stats span.complete {
    background-color: white !important;
}
#selectionChartFooter dt::first-letter,
#fields .variable-selector h5::first-letter {
    text-transform: capitalize;
}
