// Enter any custom Sass in this file.
/* Remove shadow from goals in goal overview */
.goal-icon-image {
      box-shadow: none !important
}
/* Background color on indicator goal banner and white text */
.heading .goal-banner .goal-1{
    background-color: #E52B3D !important;
    color: #ffffff !important;
}
