// Enter any custom Sass in this file.
/* Remove shadow from goals in goal overview */
.goal-icon-image {
      box-shadow: none !important
}
/* Next-Previous goals, padding on bottom */
.previous-next-links{
      padding-bottom: 5px;
}

/* Adjust margin on goal-banner */
.goal-banner h1{
    margin-top: 6px !important;
}

/* Background color on indicator goal banner and white text */
.heading.goal-banner.goal-1{
    background-color: #E52B3D !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-2{
    background-color: #DDA63A !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-3{
    background-color: #4C9F38 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-4{
    background-color: #C42130 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-5{
    background-color: #FF3E24 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-6{
    background-color: #28BCE1  !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-7{
    background-color: #FCC30B  !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-8{
    background-color: #A21942 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-9{
    background-color: #FD6925 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-10{
    background-color: #DD1367 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-11{
    background-color: #FD9C27 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-12{
    background-color: #BF8B2E !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-13{
    background-color: #417D46 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-14{
    background-color: #0A96D8 !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-15{
    background-color: #57BE2F !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-16{
    background-color: #00689C !important;
    color: #ffffff !important;
}
.heading.goal-banner.goal-17{
    background-color: #1F4A6A !important;
    color: #ffffff !important;
}
